<% include ../header %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');
	socket.on('send-client', function(msg) {
		document.getElementById('chat').innerHTML += msg;
	});
	var enviar = function() {
		var msg = document.getElementById('msg').value;
		socket.emit('send-server', msg);
	};
</script>
<header>
	<h2>Ntalk - Chat</h2>
</header>
<section>
	<p id="chat"></p>
	<input type="text" id="msg" placeholder="Mensagem">
	<input type="button" onclick="enviar();" value="Enviar">
</section>
<% include ../exit %>
<% include ../footer  %>